* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font: 20px 'Montserrat Alternates',sans-serif;
}
.wrapper {
    max-width: 1100px;
    margin: auto;
    padding: 0px 10px;
}
.row {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.row > * {
    display: table-cell;
    vertical-align: middle;
    border-spacing: 0;
}





.main {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.main > .state {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.main > .state.active {
    display: block;
}
.header {
    position: relative;
    background: #795548;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}
.header::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 20px;
    background: #5D4037;
    content: '';
    display: block;
}
.header h1 {
    color: #fff;
}
.header h3 {
    color: #b2b2b2;
    font-weight: normal;
}
#detail {
    padding-top: 50px;
    color: #5e5e5e;
}
.image {
    height: 600px;
    background-image: url('../img/glove.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

#detail h2 {
    font-size: 3em;
}
#detail h5 {
    margin-bottom: 30px;
    color: #757575;
}
.excelent {
    color: #8BC34A;
}
.table {
    margin-top: 50px;
}
.table > * {
    border: 1px solid #b2b2b2;
    height: 40px;
}
.table h3 {
    text-align: center;
    padding-top: 5px;
    border: 2px solid #b2b2b2;
}
.table .row > * {
    border: 1px solid #b2b2b2;
}
.row.th {
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}